python-pptx>=0.6.23
PyMuPDF>=1.24.0
Pillow>=10.0.0
torch>=2.1.0
transformers==4.49.0
einops
timm
pytesseract>=0.3.10
python-dotenv>=1.0.0
langchain-text-splitters
transformers
sentencepiece
sentence-transformers
chromadb
tf-keras
rank-bm25
fastapi
uvicorn[standard]